<div class="skip">
    <form id="data" method="post">
        <div class="col hidden">
            <div class="label bold">
                Ваше имя:*
            </div>
            <input
                type="text"
                name="name"
                placeholder="Введите имя"
                class="comment-input"
                required
            />
        </div>
        <div class="col hidden">
            <div class="row label bold">
                Ваш e-mail:*
            </div>
            <input
                type="text"
                name="mail"
                placeholder="Введите электронную почту"
                class="comment-input"
                size="25"
                required
            />
        </div>
        <div class="col">
            <div class="row label">
                Текст:*
            </div>
            <textarea
                name="text"
                rows="5"
                class="comment-input"
                required>
            </textarea>
        </div>
        <div class="button-group">
            <button class="button submit">
                Отправить
            </button>
            <button type="reset" class="button reset">
                Очистить
            </button>
        </div>
    </form>
</div>