/* @font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic");
} */ /* TODO: connect this way */

@import 'addComment';

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.ml-104 {
    margin-left: 104px;
}

.container {
    @extend %col-shared;
    margin: 0 352px;
}

%row-shared {
    display: flex;
    margin-top: 10px;
}

.row {
    @extend %row-shared;
}

.row-centered {
    @extend %row-shared;
    justify-content: center;
}

.header {
    @extend %row-shared;
    justify-content: space-between;
    align-items: center;

    .bold_2 {
        font-size: 48px;
        font-weight: bold;
    }
}

%col-shared {
    display: flex;
    flex-direction: column;
}

.col {
    @extend %col-shared;
}

.col-centered {
    @extend %col-shared;
    align-items: center;
}

.bold {
    font-weight: bold;
}


#header {
    font-size: 74px;
}

#header-bold {
    font-size: 69px;
    font-weight: bold;
}

p.description {
    font-size: 16px;
    font-weight: normal; /* FIXME: bold 4 OpenSans */
    line-height: 1.63;
}

ul {
    margin-top: 32px;
    li {
        list-style-type: circle;
        list-style-image: url('../images/listImg.gif');
    }
}

$button-primary-color: white;
$button-border-color: red;

.button-primary {
    min-width: 202px;
    width: 176px;
    height: 48px;
    font-family: inherit;
    background-color: $button-primary-color;
    border: solid 2px $button-border-color;
    box-shadow: 2px 2px 10px 0 rgba(236, 0, 109, 0.15);
    padding: 14px 44px 15px;
    transition-property: background-color, color;
    transition-duration: 1000ms, 500ms;

    &:hover {
        background-color: $button-border-color;
        color: $button-primary-color;
        cursor: pointer;
    }
}

.img-container {
    height: 720px;
}

.img-back {
    position: absolute;
    height: inherit;
}

.img-front {
    position: relative;
    top: 241px;
    transition-property: top;
    transition-duration: 3s;
    width: 488px;
    height: 225px;
}

// left shifted
#elem-pos-left {
    right: 104px;
}

// right shifted
#elem-pos-right {
    left: 104px;
}
