/* @font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic");
} */ /* TODO: connect this way */

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

.ml-104 {
    margin-left: 104px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 352px;
}

.row {
    display: flex;
    margin-top: 10px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

#header {
    font-size: 74px;
}

#header-bold {
    font-size: 69px;
    font-weight: bold;
}

.header-bold_2 {
    font-size: 48px;
    font-weight: bold;
}

p.description {
    margin-top: 64px;
    font-size: 16px;
    font-weight: normal; /* FIXME: bold 4 OpenSans */
    line-height: 1.63;
}

ul {
    margin-top: 32px;
}

button.Rectangle {
    margin-top: 32px;
    width: 176px;
    height: 48px;
    background-color: #fff;
    border: solid 2px #ec006d;
    box-shadow: 2px 2px 10px 0 rgba(236, 0, 109, 0.15);
    padding: 14px 44px 15px;
}

.img-container {
    height: 720px;
}

.img-back {
    position: absolute;
    width: 840px;
    height: inherit;
    background-color: #a6adb2;
}

.img-front {
    position: relative;
    top: 241px;
    transition-property: top;
    transition-duration: 3s;
    width: 488px;
    height: 479px;
    background-color: #c4c7c8;
}

// left shifted
#elem-pos-left {
    right: 104px;
}

// right shifted
#elem-pos-right {
    left: 104px;
}

.img-back_2 {
    position: absolute;
    width: 488px;
    height: inherit;
    background-color: #a6adb2;
}
